.btn {
    font-family: "Poppins";
    font-weight: 400;
    border: 2px solid transparent;
    text-transform: capitalize;
    transition: .3s all;
    cursor: pointer;
    background-color: transparent;
    
    &-green {
        background-color: $color-primary;
        color: $color-main;
        font-size: 1.8rem;
        padding: 2rem 3rem;
        letter-spacing: .1rem;

        &:hover {
            border: 2px solid $color-main;
            background-color: transparent;
        }
    }

    &-rand {
        font-size: 1.6rem;
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        padding: .5rem 0;

        &:hover {
            letter-spacing: .05rem;
        }
    }
}