.hero {
    height: 80vh;
    background-image: linear-gradient(rgba($color-grey-darker, .5), rgba($color-grey-darker, .5)),
    url('../imgs/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &__text {
        @include width;
        color: $color-main;
        padding-top: 20rem;
        font-family: "Lato", sans-serif;

        p {
            width: 50%;
            font-size: 1.8rem;
        }

        @include respond(tab-port) {
            padding-top: 30rem;
            width: 100%;
            text-align: center;

            p {
                width: 70%;
                margin: 4rem auto;
            }
        }

        @include respond(phone) {
            padding-top: 35rem;
        }
    }
}

.approach {
    background-color: $color-section;

    &__grid {
        @include width;
        padding: 10rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;

        @include respond(tab-port) {
            width: 60%;
            margin: auto;
            grid-template-columns: 1fr;
        }

        @include respond(phone) {
            width: 60%;
            grid-template-columns: 1fr;
        }
    }

    &__image {

        img {
            width: 50rem;
        }
    }

    &__text {

        p {
            color: $color-grey-dark;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.programs {
    @include width;
    padding-top: 10rem;
    text-align: center;

    .center_text {
        @include center_paragraph;
    }

    @include respond(tab-port) {
        .center_text {
            margin-bottom: 4rem;
        }
    }

    @include respond(phone) {
        .center_text {
            margin-bottom: 4rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 5rem 0;

        @include respond(tab-port) {
            width: 80%;
            margin: auto;
            grid-template-columns: 1fr;
        }


        &__item {
            border: 1px solid $color-grey-lighter;
            padding: 1.5rem;
            text-align: left;
            transition: .3s all;

            img {
                width: 100%;
                transition: .3s all;
            }

            h3 {
                margin: 1.7rem 0;
                font-weight: 400;
                color: $color-nav;
                cursor: pointer;
            }

            p {
                font-size: 1.4rem;
                color: $text-color;
            }

            &:hover {
                border: 1px solid $color-primary;

                img {
                    transform: scale(1.05);
                }

                h3 {
                    color: $color-primary;
                }
            }
        }
    }
}

.resources {
    background-color: #F1FBF9;
    margin-top: 10rem;

    &__grid {
        max-width: 120rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        @include respond(tab-port) {
            width: 80%;
            margin: auto;
            grid-template-columns: 1fr;
        }

        p {
            font-size: 1.5rem;
            color: $color-grey-dark;
        }

        &__text {
            padding: 5rem 0;

            .inner__grid {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 2rem;

                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem;
                    border: 1px solid $color-grey-light;

                    &__text {
                        width: 80%;
                    }

                    &__svg {
                        width: 5rem;
                        text-align: center;
                        border-radius: 40%;

                        img {
                            cursor: pointer;
                            width: 1.5rem;
                        }
                    }
                }
            }
        }

        &__img {
            text-align: right;
            
            img {
                width: 100%;
            }
        }
    }
}

.storiesOuter {
    border-bottom: 1px solid $color-grey-light;

    .stories {
        @include width;
        padding: 10rem 0;
    
        &__top {
            display: flex;
            justify-content: space-between;

            @include respond(tab-port) {
                width: 70%;
                margin: auto;
                padding-bottom: 4rem;
            }
        }
    
        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;

            @include respond(tab-port) {
                width: 80%;
                margin: auto;
                grid-template-columns: 1fr;
            }
    
            &__item {
                text-align: center;
                text-transform: none;
                line-height: 1.5;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}

.partners {
    @include width;
    padding: 10rem 0;

    &__top {
        text-align: center;

        p {
            @include center_paragraph;
        }
    }

    &__partners {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        img {
            width: 8rem;
        }
    }
}

.footer {
    background-color: $color-footer;
    padding: 10rem 0 4rem 0;

    &__grid {
        @include width;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 2fr;
        padding-bottom: 10rem;
        border-bottom: 1px solid $color-grey-dark;

        @include respond(phone) {
            width: 50%;
            margin: auto;
            grid-template-columns: 2fr;
        }

        @include respond(tab-port) {
            width: 50%;
            margin: auto;
            grid-template-columns: 2fr;
            letter-spacing: .1rem;
        }

        .logo_box {
            margin-right: 1rem;
            text-align: center;
            text-transform: uppercase;
            
            .logo_name {
                font-family: "Playfair Display", sans-serif;
                font-weight: 500;
                color: $color-main;
                font-size: 2.8rem;
                letter-spacing: .1rem;
            }

            p {
                font-family: "Playfair Display", sans-serif;
                font-weight: 700;
                color: $color-grey-light;
                letter-spacing: .3rem;
            }

            @include respond(tab-port) {
                margin-bottom: 5rem;
            }

            @include respond(phone) {
                margin-bottom: 5rem;
            }
        }

        &__item {

            h4 {
                color: $color-main;
            }

            ul {
                list-style-type: none;

                li {
                    padding: 1rem 0;

                    a,
                    a:link,
                    a:visited {
                        font-size: 1.4rem;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: $color-grey-light;
                    }
                }
            }

            .input_group {
                width: 100%;

                .newsletter {
                    padding: 2rem 2rem;
                    float: left;

                    &:focus,
                    &:active {
                        outline: none;
                    }
                }
            }
            
            .footer__icons {
                width: 60%;

                img {
                    margin-top: 2.5rem;
                    width: 2.5rem;

                    &:not(:last-of-type) {
                        margin-right: 1.5rem;
                    }
                }
            }
            
            @include respond(tab-port) {
    
                &:not(:last-of-type) {
                    margin-bottom: 5rem;
                    text-align: center;
                }
            }
            
            @include respond(phone) {
                letter-spacing: .1rem;
                
                &:not(:last-of-type) {
                    margin-bottom: 5rem;
                    text-align: center;
                }
            }
        }   
    }

    .copyright {
        margin-top: 4rem;
        text-align: center;

        p {
            @include center_paragraph;
            color: $color-grey-light;
            text-transform: capitalize;

            @include respond(phone) {
                letter-spacing: .1rem;
            }
        }
    }
}