$color-primary: #007A5C;
$color-nav: #32404D;
$color-secondary: #F2FBF9;

$color-header: #32404D;
$color-section: #FCF2EB;

$color-footer: #32404D;

$color-main: #FFFFFF;
$text-color: #32404D;

$color-grey-lighter: #eeeeee;
$color-grey-light: #c2c2c2;
$color-grey-dark: #777777;
$color-grey-darker: #4d4d4d;